<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/css/main.css' %}">
</head>
<body style="position: relative;" >
    <div class="nav__bar">
        <div class="logo__bp">
            <img src="{% static 'assets/images/logo.svg'%}" alt="">
        </div>
        
        <div class="menu__items">
            <ul>
                <li><a href="{% url 'home:home' %}"><span>Início</span></a></li>
                <li><a href="{% url 'import:import_files' %}"><span>Importar</span></a></li>
                <li><a href="{% url 'print:render_print' %}"><span>Imprimir</span></a></li>
                <li><a href="{% url 'register:register' %}"><span>Registrar</span></a></li>
                <li><a href="{% url 'support:render_support' %}"><span>Suporte</span></a></li>
                <li><a href="{% url 'authentication:logout_view' %}"><span>Sair</span></a></li>
            </ul>
        </div>
    </div> 
</body>

<script src="{% static 'js/home/navbar.js' %}" type="module"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</html>