@font-face {
    font-family: "Bosch Sans Regular";
    src: url("/static/assets/fonts/BoschSans-Regular-v5_003.ttf") format("truetype");
}

@font-face {
    font-family: "Bosch Office Sans";
    src: url("/static/assets/fonts/BoschOfficeSans-Regular-v3_003.ttf") format("truetype");
}

@font-face {
    font-family: "Bosch Sans Bold";
    src: url("/static/assets/fonts/BoschSans-Bold-v5_003.ttf") format("truetype");
}