//* Colors
$blue: #56b0ff;
$light-blue: #7ebdff; 
$blueHover: #0096e8;
$dark-blue: #006ead;
$gray: #E0E2E5;
$white: #fff;
$dark-gray: #2E3033;
$light-gray: #4E5256;
$shadow-gray: #D0D4D8;
$border-color: rgba(224, 226, 229, 0.9);
$red: rgb(255, 120, 120);
$light-red: rgb(251, 177, 177);
$green: rgb(68, 149, 113);
$light-green: rgb(121, 201, 165);